<section class="first_slider">
	<div class="about_slider">
		<div class="about_txt">
			<h6>Select a map</h6>
			<p>You must select at least one of the three maps.</p>
			<p>Your item set will be available only for the maps that you have chosen. </p>
		</div>
		<div class="about_img">
			<img src="images/slider_1.png" />
		</div>
	</div>
</section>
<section class="second_slider">
	<div class="about_slider">
		<div class="about_img">
			<img src="images/slider_2.png" />
		</div>
		<div class="about_txt">
			<h6>Select your champion</h6>
			<p>You just have to select the champion for whom you wish to create a set. </p>
		</div>
	</div>
</section>
<section class="third_slider">
	<div class="about_slider">
		<div class="about_txt">
			<h6>Create your item sets</h6>
			<p>The real challenge starts here ! Select the items that you want to use and organize it !</p>
			<p>Graphic interface supports drag-n-drop files. Enjoy !</p>
		</div>
		<div class="about_img">
			<img src="images/slider_3.png" />
		</div>
	</div>
</section>
<section class="fourth_slider">
	<div class="about_slider">
		<div class="about_img">
			<img src="images/slider_4.png" />
		</div>
		<div class="about_txt">
			<h6>Download and Share</h6>
			<p>Your set is ready ? Download it !</p>
			<p>Share your set with the community ! Then other players will be able to vote for it and to download it too !</p>
		</div>
	</div>
</section>
<section class="five_slider">
	<div class="about_slider">
		<div class="about_txt">
			<h6>Install your set </h6>
			<p>Your set will be download in a .json file.<br/> You will need to put this file in the right place: League of Legends\Config\Champions\{championKey}\Recommended\ </p>
			<p>For example: C:\Riot Games\League of Legends\Config\Champions\Nidalee\Recommended</p>
		</div>
		<div class="about_img">
			<img src="images/slide_5.png" />
		</div>
	</div>
</section>
<section class="seven_slider">
	<div class="about_slider">
		<div class="about_img">
			<img src="images/slide_6.png" />
		</div>
		<div class="about_txt">
			<h6>Vote and be part of the community!</h6>
			<p>Find out more about the sets of other players and upgrade your skill ! </p>
			<p>You can vote for your favorite sets and download it ! </p>
			<p><b>Now, you are ready to play !</b></p>
		</div>
	</div>
</section>
<section class="six_slider">
	<div class="about_slider">
		<a href="/#/itemsets">Start now !</a>
	</div>
</section>
